


:root {
    --logo-color: #4D5AE5;
    --text-color: #2E2F42;
    --address-color: #434455;
    --portf-btn-backgr-color: #F4F4FD;
    --portfolio-color: #E7E9FC;
    --custom-color: #8E8F99;
    --footer-p-color: #FFFFFF;
    --smth-color: #404bbf;
}

img {
    display: block;
}


/* body */
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.main-container-portf {
    padding: 32px 16px;
    border: 1px solid var(--portfolio-color);
    border-top: none;
    margin-bottom: 8px;
}

.container-div {
    align-items: center;
    display: flex;
}

.container-divv {
    align-items: center;
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.footer-div {
    margin-right: 120px;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px 0 15px;
}

/* header */

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
    margin-right: 76px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.logo-color {
    color: var(--text-color);
}

.nav {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: none;
}




.nav-menu-link.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: -1px;
    background-color: #404BBF;
    border-radius: 2px;

}

.nav-menu-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: -1px;
    background-color: #404BBF;
    border-radius: 2px;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms linear;
}

.nav-menu-link:hover:after,
.nav-menu-link:focus:after,
.nav-menu-link.current:after {

    transform: scaleX(1);
    transform-origin: left;
}



.address {
    font-style: normal;
    margin-left: auto;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.address-list {
    display: none;
    
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--address-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.vv {
    stroke: #2e2f42;
}

/* .menu-open-btn {
    display: none;
    margin-left: auto;
    background: none;
    border: none;
}

.mob-menu {
    display: none;
width: 100vw;
height: 100vh;
    position: fixed;
    background-color: #FFFFFF;
    z-index: 2;
    padding: 24px 24px 40px 40px;
    top: 0;
    left: 0;
}

.mob-nav-menu {
    margin-top: 60px;
    gap: 20px;
    display: inline-flex;
flex-direction: column;
    
}

.mob-menu-link {
    font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
color: #2E2F42;
}

.mob-li {
    
}

.link {
}
.mob-address-list {
    margin-top: 150px;
    gap: 40px;
    display: inline-flex;
flex-direction: column;
}


.mob-menu-address-link {
    font-size: 20px;
color: #434455;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}

.number {
    font-size: 36px;
color: #4D5AE5;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
}

.mob-menu-media {
    display: inline-flex;
    gap: 56px;
    margin-top: 48px;
}
.mob-menu-svg-li {
}
.mob-menu-media-link {
    width: 159%;
    height: 159%;
    border-radius: 50%;
    background-color: var(--logo-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.mob-menu-media-svg {
    fill: var(--portf-btn-backgr-color);
    
}

.svg-bg {
    position: absolute;
} */

/*--------------- MAIN ------------------*/

.hero {
    background-color: var(--text-color);
    padding: 100px 1px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.hero-h {
    margin: auto;
    font-size: 36px;
/* margin: 112px 54px 72px 54px; */
margin-right: auto;
margin-left: auto;
margin-bottom: 72px;
margin-top: 112px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    width: 320px;
}

.hero-btn {
    margin-right: auto;
    margin-left: auto;
    background-color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}



/*----------------- ABOUT-US ------------------*/

.about-svg-main {
    display: none;
    /* display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
        width: 264px;
        height: 112px;
        order: 0;
        flex-grow: 0; */
}

.about-ul-svg {
    display: flex;
    gap: 24px;
}



.about-us {
    padding: 120px 0;
}

.about-ul {
    display: flex;
    gap: 24px;
}

.about-li {
    width: calc((100%-72px)/4);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about-list-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-bottom: 8px;
}

.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

/*----------------- speciality -----------------*/

.speciality {
    padding-bottom: 120px;
}

.speciality-h {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-color);
    margin-bottom: 72px;
}

.speciality-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.speciality-li {
    width: calc((100%-48px)/3);
}

/*----------------- OUR-TEAM -------------------*/

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-li:hover,
.team-li:focus {
    box-shadow: 0px 5px 8px px rgba(0, 0, 0, 0.3);
}

.team-h {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-color);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-li {
    background-color: #FFFFFF;
    width: calc((100%-72px)/4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    ;
}

.container-info {
    padding: 32px 16px;
}

.team-list-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 8px;
}

.team-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}


.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 32px;
}

.team-soc-li {
    width: 40px;
    height: 40px;
}

.team-soc-a {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--logo-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-a:hover,
.team-soc-a:focus {
    background-color: #404BBF;
}

.team-soc-svg {
    fill: var(--portf-btn-backgr-color);
}

/*--------------- CUSTOM ----------------*/

.custom {
    padding-top: 120px;
    padding-bottom: 120px;
}

.custom-title {
    font-size: 36px;
    line-height: 1.11;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 72px;
}

.custom-list {
    display: flex;
    gap: 24px;
}

.custom-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.custom-a {
    height: 100%;
    width: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--custom-color);
    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}

.custom-a:hover,
.custom-a:focus {
    border-color: #404BBF;
    color: #404BBF;
}

.custom-svg {
    fill: currentColor;
}



/*------------- FOOTER --------------*/

.footer {
    background-color: var(--text-color);
    font-family: "Raleway", sans-serif;
    padding: 100px 0;
}

.footer-span {
    color: #F4F4FD;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-p {
    max-width: 264px;
    margin-bottom: 16px;
}

.footer-soc-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-p-color);
    margin-bottom: 16px;
}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-li {
    width: 40px;
    height: 40px;
}

.footer-a {
    width: 100%;
    height: 100%;
    background-color: var(--logo-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-a:hover,
.footer-a:focus {
    background-color: #31D0AA;
}

.footer-svg {
    fill: var(--portf-btn-backgr-color);
}

.sub-info {
    margin-left: 120px;
    margin-right: 156px;
}

.sub-text {
    margin: auto;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.sub-form {
    display: flex;
    gap: 24px;
}

.sub-label {
    gap: 24px;

}

.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #FFFFFF;
}

input::placeholder {
    color: #FFFFFF;
}

.sub-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    margin-right: 24px;
    margin-left: 16px;
    
}

.footer-sub-svg {
    fill: #FFFFFF;
    margin: auto;
    margin-left: 16px;
    margin-right: 4px;
}

/*================ MODAL ===================*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modalll {
    position: absolute;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-legend {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin: auto;
    margin-bottom: 16px;
}

.modal-form-div {
    margin-bottom: 8px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--custom-color);
    display: block;
    margin-bottom: 4px;
}

.input-container-name {
    position: relative;
}

.modal-name-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(46, 47, 66, 0.4);
}

.modal-phone-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(46, 47, 66, 0.4);
}

.modal-email-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(46, 47, 66, 0.4);
}

.modal-name-input:focus, .svg-person{
    border-color: #4D5AE5;
    fill: #4D5AE5;
}



.svg-person {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}



.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    
    transition-property: background-color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF;
    border: none;
}

.modal-btn:hover .modal-svg-close,
.modal-btn:focus .modal-svg-close {
    fill: #FFFFFF;

    border: none;
}

.modal-svg-close {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-container {
    margin: auto;
    margin-bottom: 16px;
}

.text-input-area {
    resize: none;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-input-area:focus {
    border-color: #4D5AE5;
}

.check-box-container {
    margin: auto;
    margin-bottom: 24px;
}

.privacy-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--custom-color);

}

.user-privacy {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}



.privacy:checked + .privacy-label .user-privacy {
background-color: var(--smth-color);
fill: var(--portf-btn-backgr-color);
border: none;
}

.privacy-link {
    color: var(--logo-color);
    
}

.submit {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*----------------------- PORTFOLIO --------------------------*/
/*----------------------- PORTFOLIO --------------------------*/
/*----------------------- PORTFOLIO --------------------------*/
/*----------------------- PORTFOLIO --------------------------*/

.button-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--logo-color);
    background-color: var(--portf-btn-backgr-color);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--portfolio-color);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-link:hover,
.button-link:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    ;
}

.link {
    text-decoration: none;
}

.sect-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-bottom: 8px;
}

.sect-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--address-color);
}

.portf-a:hover .img-text,
.portf-a:focus .img-text {
    transform: translateY(0%);
}



.portfolio-main {
    padding: 96px 0 120px;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio-main-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portf-li {
    width: calc((100% - 48px) / 3)
}

.portf-a {
    display: block;
    transition-property: scale, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-a:hover,
.portf-a:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    scale: 104%;
    transition-property: scale;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.img-container {
    position: relative;
    overflow: hidden;

}

.img-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--portf-btn-backgr-color);
    padding: 40px 32px;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
    margin: auto;
}


